<div data-page='maps'>
    <div data-role='filters'>
        <div class="row">
            <div class="col-md-6">
                <select id="year">
                    <option value="wiews_2016_map_saiku">2016</option>
                    <option value="wiews_2014_map_saiku">2014</option>
                </select>

            </div>
            <div class="col-md-6">
                <select id="data_showed">
                    <option value="accessions">Accessions</option>
                    <option value="genus">Genera</option>
                    <option value="species">Species</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <select id="data_filter">
                    <option value="0">All</option>
                    <option value="5000">Above 5 000</option>
                    <option value="10000">Above 10 000</option>
                    <option value="50000">Above 50 000</option>
                </select>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div data-role='results'>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="showasmap" type="button" class="btn btn-default">Show as <span id="btn_text">Table</span></button>
                </div>
            </div>
        </div>
        <div id="tabled" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Result -->
                <div id="toolbar" class="bootstrapTableExport">
                    <button data-role="exsitu_exportbutton" alt="{{exsitu_export_button_alt}}" class="btn btn-default">
                        <span alt="{{organizations_export_button_alt}}" class="icojam icojam_download_1"></span> <span>Download Result</span></button>
                </div>
                <table id="table"
                       data-toolbar="#toolbar"
                       data-toolbar-align="right"
                >
                    <thead>
                    <tr>
                        <th data-sortable="true" data-width="10%" data-field="instcode">WIEWS Instcode</th>
                        <th data-sortable="true" data-width="38%" data-field="name">Name of organization</th>
                        <th data-sortable="true" data-width="15%" data-field="country">Country</th>
                        <th data-sortable="true" data-width="14%" data-align="right" data-field="accessions">Accessions</th>
                        <th data-sortable="true" data-width="14%" data-align="right" data-field="genus">Genus</th>
                        <th data-sortable="true" data-width="14%" data-align="right" data-field="species">Species</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="maped" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <div id="map" style="height: 500px; margin-top: 15px"></div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
</div>