/* Homepage */

[data-page='domains'] {

  body {
    font-family: inherit;
  }

  /* body {font-size: 1.5em!important;} */

  h6.truncate {font-size: 15px; height: 26px;}

  .indicator-detail {font-style:italic; color:#222222; font-size: 0.95em;}

  .indicator-detail .activity1,
  .indicator-detail .title {float: left; font-weight: bold; margin-right: 9px;}

  .indicator-detail .title,
  .indicator-detail .indicator {font-style:normal; font-size: 15px; margin-top: 7px; margin-bottom: 12px; white-space: normal;}

  .indicator-detail .activity2 {white-space: normal;}

  .indicator-detail .domain {font-weight: 600; margin-bottom: 0px;}
  .indicator-detail .title {max-width: 40%; line-height: 1.3em;}
  .indicator-detail .indicator {line-height: 1.3em; /* max-width:65%;*/ }

  .icojam_arrow_left {color:#000000; font-size:1.5em; position: relative; top:11px; left: -4px;  margin-right: 0px;}

  .icojam_download_1 {font-size: 1.6em; position: relative; top: 12px; left: 25px;}
  .icojam_search {font-size: 1.5em; position: relative; top: 12px; left: 35px;}

  .nav-tabs {border-bottom: 1px solid #ddd;}
  .panel-heading .nav-tabs {border-bottom: none;}

  .nav-tabs > li {
    padding: 0px 0px 0px 0px;
    margin-bottom: 0;
  }

  .nav-tabs > li.active > a:before {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .nav-tabs > li > a:before {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    content: '';
    position: absolute;
    /* width: calc(100% - 10px); */
    /* left: 10px; */
    width: calc(100% - 10px);
    height: 2px;
    background-color: #337ab7;
    bottom: -2px;
    pointer-events: none;
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  .nav-tabs > li > a {
    padding: 5px;
    position: relative;
    color: #434343;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }

  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:visited, .nav-tabs > li.active > a:focus {
    color: #337ab7;
    background-color: transparent;
    border-color: transparent;
  }

  .nav-tabs > li.active > a {
    color: #337ab7;
    background-color: transparent;
    border-color: transparent;
  }

  .jstree-default .jstree-wholerow-clicked {
    background-color: transparent;
  }
  .jstree-anchor.jstree-clicked {
    background-color: #cfe1f2 !important;
  }
  .jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl {
    display: none;
  }

  .jstree-container-ul .jstree-anchor {
    white-space: nowrap;
    width: 100%;
  }
  .jstree-container-ul .jstree-open .jstree-anchor {
    max-width: 235px;
    padding-right: 0px;
  }
  .jstree-container-ul .jstree-children .jstree-anchor {
    max-width: 210px;
    padding-right: 0px;
  }
  .jstree-container-ul ul.jstree-children ul.jstree-children .jstree-anchor {
    max-width: 185px;
    padding-right: 0px;
  }

  .panel.panel-default {
    background-color: white;
    transition: box-shadow .25s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-color: transparent;
    border: 0;
  }
  .panel-border {
    border: 1px solid #ddd;
    margin-bottom: 15px;
  }

  .panel.panel-default .panel-heading {
    color: #434343;
    background-color: #f9f9f9;
    border-color: transparent;
    border-bottom-color: #efefef;
  }
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .panel-heading.long-header {
    padding: 10px 0px !important;
  }
  /*   .panel-heading.long-header .nav-tabs {margin-left: -4px !important;} */

  .panel-body {
    padding: 10px 15px;
  }
  .panel-footer {
    margin-top: 0px;
    font-size: 12px;
  }

  .panel-body .tree-holder {
    padding: 0px;
  }

  .panel-border .panel-body {
    padding: 0px 0px 10px !important;
  }
  .panel-border .panel-body .btn {
    font-size: 13px !important;
  }

  .panel-border .panel-body .active .form-group {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .panel-border .panel-body .form-group .selector-content {
    margin-top: -1px;
  }
  .panel-border .panel-body .form-group .help-block {
    display: none;
  }
  .panel-border .panel-body .active .form-group .filter-radio-list {
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    border-bottom: 1px solid #eaeaea;
    margin-top: 5px;
  }
  .panel-border .panel-body .active .clearfix {
    display: none;
  }
  .panel-border .panel-body .active .selector-footer {
    display: block;
    max-height: 115px;
    overflow-y: auto;
    margin-top: 10px;
  }

  .panel-border .panel-body .active .selector-footer ul div span.code-brk:after {
    content: '';
    height: 15px;
    width: 15px;
    background: url(http://www.fao.org/faostat/en/submodules/fenix-ui-common/css/img/fenix-catalog-sprite-small.svg) no-repeat 0 -15px;
    background-size: 150px 30px;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  .panel-border .panel-body .active .selector-footer ul div span:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .fs-map .panel-body {
    padding: 0px;
  }

  .fs-data-padding-top {
    padding-top: 15px;
  }
  /*
    #vd_filter_item_tab_4 [data-selector='vd_filter_item_2'] .clearfix,
    #vd_filter_item_tab_4 [data-selector='vd_filter_item_2'] .help-block,
    #vd_filter_item_tab_7 [data-selector='vd_filter_item_5'] .clearfix,
    #vd_filter_item_tab_7 [data-selector='vd_filter_item_5'] .help-block {display: none;}
    #vd_filter_item_tab_4 [data-selector='vd_filter_item_2'] .form-group,
    #vd_filter_item_tab_7 [data-selector='vd_filter_item_5'] .form-group {margin-bottom: 0px; padding-bottom: 10px; border-bottom: 1px solid #eaeaea;}
    /* regions
    #vd_filter_item_tab_4 [data-selector='vd_filter_item_2'] .filter-radio-list {padding-left: 10px; margin-bottom: 0px;}
    /* special group
    #vd_filter_item_tab_7 [data-selector='vd_filter_item_5'] .filter-radio-list {padding-left: 35px; margin-bottom: 0px;}


    #vd_filter_item_tab_4 [data-selector='vd_filter_item_3'] .clearfix,
    #vd_filter_item_tab_7 [data-selector='vd_filter_item_6'] .clearfix {display: none;}
    #vd_filter_item_tab_4 [data-selector='vd_filter_item_3'] .form-group,
    #vd_filter_item_tab_7 [data-selector='vd_filter_item_6'] .form-group {margin-bottom: -15px; margin-top: 6px;}
    */
  /*
  #domainsTab.nav-tabs > li > a {font-size: 1.4em;}
  #domainsTab.nav-tabs {border-bottom: none;}
  .tab-content .nav-tabs > li > a {font-size: 1.5em;}
  */



  .fx-tree-buttons {
    margin-top: 15px;
  }

  .z-depth-1, .btn, .btn-floating, .card-panel, .card, .dropdown-content, .dropdown-menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .z-depth-1-half, .btn:hover, .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.8;
  }

  .btn {
    line-height: 31px;
    position: relative;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    outline: none !important;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    margin: 0px 4px;
  }

  .fx-tree-buttons .btn {
    line-height: 1.5;
  }

  .btn-primary {
    background-color: #0D6CAC;
  }
  .btn-default {
    color: #fff;
    background: #2BBBAD;
  }

  .btn-group-justified > .btn-group .btn {
    width: 90%;
    background: #ffffff;
    color: #000;
  }
  .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child { /* width: 30%; min-width: 105px; */
    /* max-width: 60%; */
  }
  .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle { /* width: 30%; min-width: 105px;*/
    /* max-width: 60%; */
    float: right;
  }

  i.left {
    float: left;
    margin-right: 10px;
    font-size: 20px;
  }

  .form-control {
    font-size: 13px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
  }
  .form-control ul li {
    margin-bottom: 0px !important;
    left: 0em !important;
  }

  .fx-tree-search {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .btn i, .btn-flat i {
    font-size: 1.3rem;
    line-height: inherit;
  }

  .selector-header {
    padding: 0px;
  }

  .fs-download-options .fs-download-option-title {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 0px 15px;
  }
  .fs-download-options hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .fs-download-options input[type="checkbox"] + label, .fs-download-options input[type="radio"] + label {
    font-size: 12px;
    margin: 0 6px;
  }

  .fs-download-options .list-inline {
    padding-left: 20px;
  }
  .fs-download-options .list-inline > li {
    padding: 0;
  }

  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    color: #337ab7;
  }

  input[type="radio"]:checked + label:before {
    border-width: 5px;
  }

  input[type="radio"] + label {
    cursor: pointer;
    margin: 0px 7px;
    font-weight: normal;
  }

  /* input[type="checkbox"]+label:before, */
  input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #ddd;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    border: 0 solid #337ab7;
    position: relative;
    top: 3px;
    left: -5px;
  }

  input[type="checkbox"] + label:before {
    display: none;
  }
  input[type="checkbox"]:checked + label:before {
    display: none;
  }
  input[type="checkbox"] {
    display: inline-block;
  }
  input[type="checkbox"] + label {
    margin: 0px 10px 0px 1px;
  }
  input[type="checkbox"]:hover {
    cursor: pointer;
  }

  .selector-footer .list-unstyled {
    margin: 5px 7px;
  }
  .code-brk {
    margin: 0px 5px 0px 3px;
  }

  /* ################ VISUALIZE DATA ########################## */

  /* - disable visualize data button - */
  #domainsTab li.disable-temp a {color:#cccccc !important;}
  #domainsTab li.disable-temp a:hover {background:#ffffff !important; cursor: default !important; border: none !important;}

  .selectize-dropdown {
    z-index: 99999;
  }
  .selectize-control {
    font-size: 13px;
  }
  .selectize-input {
    border: 1px solid #b9b9b9;
  }

  .selector-header {
    padding-bottom: 4px;
    padding-left: 3px;
  }
  .fx-selector-title {
    font-size: 14px !important;
  }

  #vd-filter-container button.btn-primary {
    margin-top: -25px;
    margin-bottom: 15px;
  }

  .leaflet-popup-content {
    width: 115px;
  }
  .fm-popup {
    font-size: 15px;
  }
  .fm-popup-join-content {
    font-size: 13px;
  }

  h5.truncate {
    font-size: 1.3em;
  }

  i.material-icons {
    color: #ffffff;
    position: relative;
    top: 5px;
    left: 6px;
  }

  [data-section="showDashboard"] .btn {width: 100% !important;}

  /* ################ DOWNLOAD DATA ########################## */

  .fixed-table-toolbar input {}
  table.table-hover th {background-color: #657b8a; color: #ffffff;}

  table.table-hover tr:nth-child(odd) {background-color: #fbfbfb;}
  table.table-hover tr:hover {background-color: #eeeeee;}

  .bootstrap-table .pagination > li > a,
  .bootstrap-table .pagination > li > span {color:#657b8a;}

  .bootstrap-table .pagination > .active > a,
  .bootstrap-table .pagination > .active > a:hover {background-color:#657b8a !important; border-color: #657b8a !important; color: #fff !important;}

  .fixed-table-pagination .btn-default {background: #657b8a !important;}

  /* ---------------------------------- */

  div.dropdown-menu {top: 35px; left: 19px; box-shadow: none; border: none; border-radius: none; background: none; font-size:0.95em;}
  div.dropdown-menu button {display: block; background: #85c785; border: none; color: #ffffff; font-family: inherit; font-size: 1em; margin-bottom: 1px; padding: 6px; width: 200px;}
  div.dropdown-menu button:hover {box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); opacity: 0.9;}

  .btn.fs-section-back {font-size: 12px !important; padding: 0px 10px !important; line-height: 28px;}

  ul li {
    margin-bottom: 0 !important;
    left: 0 !important;
  }


}











.slider_container{
  position: relative;
  background-color: #fafafa;
}

.arrow-left {
  z-index: 100;
  background: url(./img/freccia-sx.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 34px;
  height: 34px;
}
.arrow-right {
  background: url(./img/freccia-dx.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 34px;
  height: 34px;
  z-index: 100;
}


.content-slide {
  padding: 0 49px;
}

.home-topics{
  padding: 0 15px;
  margin-top: 25px;
}

.home-btn-box {
  background-color: #fafafa;
  border-right: 15px solid #FFFFFF;
  border-left: 15px solid #FFFFFF;
  min-height: 216px;

  a{

    color: $fenix-text;

    &:hover, &:active, &:focus{
      text-decoration: none;
    }


  }

}

.ap-diagram-link{
  text-align: center;
  display: inline-block;
  width: 100%;
}


.spacing-row {
  margin-bottom: 20px;
}