.amis-step-number {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #2a5d9f;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 14px;
  margin-right: 5px; }

.amis-step-title {
  margin-bottom: 15px; }

.amis-step-title-text {
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 16px;
  color: #2a5d9f; }

.amis-step-subtitle-text {
  font-family: 'Open Sans Condensed',sans-serif;
  color: #666666;
  font-size: 14px;
  margin-bottom: 5px; }

.amis-step-subtitle-bluetext {
  font-family: 'Open Sans Condensed',sans-serif;
  color: #2a5d9f;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 25px;}