<div data-dashboardSection = "1" id = "dd-dashboard-container">
    <div class="row">
        <div class='col-xs-12'>
            <table id="testTable" data-table = "dd-dashboard-table">
                <thead>
                <tr>
                    <th data-field="domain">Domain</th>
                    <th data-field="wiews_region">Country</th>
                    <th data-field="indicator">Element</th>
                    <th data-field="indicator_label">Indicator and Rating</th>
                    <th data-field="iteration">Period</th>
                    <th data-field="value">Value</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

