<br>
<div data-dashboardSection="1" data-dashboardContainer="dd-dashboard-container" id="dd-dashboard-container">
    <div class="row">
        <div class='col-xs-12'>
            <table data-table="dd-dashboard-table">
                <thead>
                <tr>
                    <th data-field="5" data-sortable="true"></th>
                    <th data-field="1" data-sortable="true"></th>
                    <th data-field="2" data-sortable="true"></th>
                    <th data-field="3" data-sortable="true"></th>
                    <th data-field="4" data-sortable="true"></th>
                    <th data-field="6" data-sortable="true" data-align="right"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

