<div data-section = "1">
    <div id = "dd-filter-container">
        <div class="row">
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading long-header">
                        <ul id="mainTabs" class="nav nav-tabs">
                            <li role="presentation"><a href="#dd_filter_item_tab_1" data-toggle="tab" data-tabLabel = "dd_filter_item_1_tab"></a></li>
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_4_1" data-toggle="tab" data-tabLabel = "dd_filter_item_4_1_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="dd_filter_item_tab_1">
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="dd_filter_item_tab_4_1">
                                <div>
                                    <div data-selector="dd_filter_item_6"></div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_3"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_3"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_4"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_5"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_5"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_8" data-toggle="tab" data-tabLabel = "dd_filter_item_8_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_8" class="tab-pane active">
                                <div data-selector="dd_filter_item_8"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_9" data-toggle="tab" data-tabLabel = "dd_filter_item_9_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_9" class="tab-pane active">
                                <div data-selector="dd_filter_item_9"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="display: none" class='col-xs-6'>
                <div class="panel-border">
                    <div>
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#dd_filter_item_tab_12" data-toggle="tab" data-tabLabel = "dd_filter_item_12_tab"></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="dd_filter_item_tab_12" class="tab-pane active">
                                    <fieldset data-selector="dd_filter_item_12"> </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class='col-xs-6' style="display: none">
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_10" data-toggle="tab" data-tabLabel = "dd_filter_item_10_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_10" class="tab-pane active">
                                <div data-selector="dd_filter_item_10"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class='col-xs-6' style="display: none">
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_11" data-toggle="tab" data-tabLabel = "dd_filter_item_11_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_11" class="tab-pane active">
                                <div data-selector="dd_filter_item_11"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
<div data-section = "2">
    <div id = "dd-filter-container">
        <div class="row">
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading long-header">
                        <ul id="mainTabs" class="nav nav-tabs">
                            <li role="presentation"><a href="#dd_filter_item_tab_1" data-toggle="tab" data-tabLabel = "dd_filter_item_1_tab"></a></li>
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_4_1" data-toggle="tab" data-tabLabel = "dd_filter_item_4_1_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="dd_filter_item_tab_1">
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="dd_filter_item_tab_4_1">
                                <div>
                                    <div data-selector="dd_filter_item_6"></div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_3"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_3"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_4"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_5"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_5"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_8" data-toggle="tab" data-tabLabel = "dd_filter_item_8_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_8" class="tab-pane active">
                                <div data-selector="dd_filter_item_8"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_9" data-toggle="tab" data-tabLabel = "dd_filter_item_9_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_9" class="tab-pane active">
                                <div data-selector="dd_filter_item_9"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_11" data-toggle="tab" data-tabLabel = "dd_filter_item_11_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_11" class="tab-pane active">
                                <div data-selector="dd_filter_item_11"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="row">
            <div style="display: none" class='col-xs-6'>
                <div class="panel-border">
                    <div>
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#dd_filter_item_tab_12" data-toggle="tab" data-tabLabel = "dd_filter_item_12_tab"></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="dd_filter_item_tab_12" class="tab-pane active">
                                    <fieldset data-selector="dd_filter_item_12"> </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class='col-xs-6' style="display: none">
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_10" data-toggle="tab" data-tabLabel = "dd_filter_item_10_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_10" class="tab-pane active">
                                <div data-selector="dd_filter_item_10"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-section = "3">
    <div id = "dd-filter-container">
        <div class="row">
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading long-header">
                        <ul id="mainTabs" class="nav nav-tabs">
                            <li role="presentation"><a href="#dd_filter_item_tab_1" data-toggle="tab" data-tabLabel = "dd_filter_item_1_tab"></a></li>
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_4_1" data-toggle="tab" data-tabLabel = "dd_filter_item_4_1_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="dd_filter_item_tab_1">
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_2_3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="dd_filter_item_tab_4_1">
                                <div>
                                    <div data-selector="dd_filter_item_6"></div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_3"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_3"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_4"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_5"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_5"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="dd_filter_item_4_6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_8" data-toggle="tab" data-tabLabel = "dd_filter_item_8_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_8" class="tab-pane active">
                                <div data-selector="dd_filter_item_8"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_9" data-toggle="tab" data-tabLabel = "dd_filter_item_9_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_9" class="tab-pane active">
                                <div data-selector="dd_filter_item_9"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_10" data-toggle="tab" data-tabLabel = "dd_filter_item_10_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_10" class="tab-pane active">
                                <div data-selector="dd_filter_item_10"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class='col-xs-6'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dd_filter_item_tab_11" data-toggle="tab" data-tabLabel = "dd_filter_item_11_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="dd_filter_item_tab_11" class="tab-pane active">
                                <div data-selector="dd_filter_item_11"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="row">
            <div style="display: none" class='col-xs-6'>
                <div class="panel-border">
                    <div>
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#dd_filter_item_tab_12" data-toggle="tab" data-tabLabel = "dd_filter_item_12_tab"></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="dd_filter_item_tab_12" class="tab-pane active">
                                    <fieldset data-selector="dd_filter_item_12"> </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<div data-section = "showDashboard" >
    <div class="row">
        <div class='col-xs-4'>
            <button type="button" class="btn btn-primary" data-button="dd_filter_button_1">
                <span class="icojam icojam_search"></span>
                {{"filter-dd_filter_button_1_title"}}
            </button>
        </div>
        <div class='col-xs-4'>
            <button type="button" class="btn btn-primary"  data-button="dd_filter_button_2">
                <span class="icojam icojam_hierarchy_12"></span>
                Visualize Data
            </button>
        </div>
        <div class='col-xs-4'>
            <button data-button="dd_filter_button_3" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icojam icojam_download_1"></span>
                <span>{{"filter-dd_filter_button_title"}}</span>
            </button>
        </div>

    </div>
    <div class="row spacing-row"></div>
    <div class="row">
        <div class='col-xs-12'>
            <div class="h5 text-justify" style="display: none;" data-buttonMsg="dd_filter_button_1_msg"></div>
        </div>
    </div>
</div>
<br>