<div data-page='domains'>
    <div class="row">
        <div class="col-xs-10 col-sm-12 col-md-10 clearfix">
            <h6 class="truncate" data-role="domain"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-6 col-md-2 clearfix">
            <h6 class="truncate" data-role="activity1"></h6>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-8 clearfix">
            <h6 class="truncate" data-role="activity2"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
            <h6 class="truncate" data-role="title"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
            <h6 class="truncate" data-role="indicator"></h6>
        </div>
    </div>

    <div class="row">
        <div class='col-lg-12'>
            <ul id="domainsTab" class='nav nav-tabs' role='tablist'>
                <li role='presentation' class='active'>
                    <a href='#downloadDataTab' data-tab='downloadData' data-section='downloadData' role='tab' data-toggle='tab'>
                        {{download_data}}
                    </a>
                </li>
                <li role='presentation'>
                    <a href='#visualizeDataTab' data-tab='visualizeData' data-section='visualizeData'role='tab' data-toggle='tab'>
                        {{visualize_data}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12 fs-data-padding-top'>

            <div class="panel panel-default hoverable">
                <div class="panel-body">
                    <!-- Container tab-panels -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="downloadDataTab"></div>
                        <div class="tab-pane" id="visualizeDataTab"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>