<div data-page='domains'>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 clearfix indicator-detail">
            <div class="truncate domain" data-role="domain"></div>
            <div class="truncate activity1" data-role="activity1"></div>
            <div class="truncate activity2" data-role="activity2"></div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 clearfix indicator-detail">
            <div style="position:absolute; right: 10px; top:-10px; z-index:10;">
                <a href="http://www.fao.org/wiews/data/domains/domains-list/" type="button" class="btn btn-link pull-right fs-section-back waves-effect truncate" id="fs-browse-by-country-profile-back" target="_self">
                    <!-- <span class="icojam icojam_site_back"></span> -->
                    <span class="icojam icojam_arrow_left"></span>
                    <span class="hidden-xs">{{domains_button_backtosecond}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix indicator-detail">
            <div class="truncate title" data-role="title"></div>
            <div class="truncate indicator" data-role="indicator"></div>
        </div>
    </div>

    <div class="row">
        <div class='col-lg-12'>
            <ul id="domainsTab" class='nav nav-tabs' role='tablist'>
                <li role='presentation' class='active'>
                    <a href='#downloadDataTab' data-tab='downloadData' data-section='downloadData' role='tab' data-toggle='tab'>
                        {{download_data}}
                    </a>
                </li>
                <li role='presentation'>
                    <a href='#MetaDataTab' data-tab='metaData' data-section='metaData'role='tab' data-toggle='tab'>
                        {{meta_data}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12 fs-data-padding-top'>

            <div class="panel panel-default hoverable">
                <div data-page="loading" class="row">
                    <h1> {{loading_text}} <i class="fa fa-spinner" aria-hidden="true"></i> </h1>
                </div>
                <div data-page="content_container" class="panel-body">
                    <!-- Container tab-panels -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="downloadDataTab"></div>
                        <div class="tab-pane" id="visualizeDataTab"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>