<div data-page='domains'>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix indicator-detail">
            <div style="position: absolute; right: 15px; z-index:9999; top: -10px;">
                <a href="http://www-test.fao.org/wiews/data/domains/" type="button" class="btn btn-link pull-right fs-section-back waves-effect truncate" id="fs-browse-by-country-profile-back" target="_self">
                    <!--<i class="hidden-xs material-icons left">undo</i>
                    <i class="visible-xs material-icons">undo</i>-->
                    <span class="hidden-xs">Back to domains</span>
                </a>
            </div>
            <div class="truncate domain" data-role="domain"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix indicator-detail">
            <div class="truncate activity1" data-role="activity1"></div>
            <div class="truncate activity2" data-role="activity2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix indicator-detail">
            <div class="truncate title" data-role="title"></div>
            <div class="truncate indicator" data-role="indicator"></div>
        </div>
    </div>

    <div class="row">
        <div class='col-lg-12'>
            <ul id="domainsTab" class='nav nav-tabs' role='tablist'>
                <li role='presentation' class='active'>
                    <a href='#downloadDataTab' data-tab='downloadData' data-section='downloadData' role='tab' data-toggle='tab'>
                        {{download_data}}
                    </a>
                </li>
                <li role='presentation'>
                    <a href='#visualizeDataTab' data-tab='visualizeData' data-section='visualizeData'role='tab' data-toggle='tab'>
                        {{visualize_data}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12 fs-data-padding-top'>

            <div class="panel panel-default hoverable">
                <div class="panel-body">
                    <!-- Container tab-panels -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="downloadDataTab"></div>
                        <div class="tab-pane" id="visualizeDataTab"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>