<div class="row">
    <div class="col-xs-12" id="vd-progress-bar-holder"></div>
</div>

<div class="row">
    <div class='col-xs-12' id = "vd-filter-container">
        <div data-selector="vd_filter_item_1" class="panel> </div>
    </div>
</div>

<div class="row">
    <div class='col-xs-12' id = "vd-dashboard-container">
        <div data-item="vd_dashboard_item_1"> </div>
    </div>
</div>