    <div data-dashboardSection = "1" id = "vd-dashboard-container">
        <div class="row">
            <div class='col-xs-12'>
                <div data-itemContainer="vd_dashboard_item_container_1">
                    <div class="panel-heading" data-itemExport="vd_dashboard_itemExport_1">
                            <div class="pull-right flip">
                                <a class="btn-floating waves-effect waves-light btn-default" data-role="export" data-button="vd_dashboard_button_export_1"><i class="material-icons">file_download</i> </a>
                            </div>
                        <h5 class="truncate" data-itemContainerTitle="vd_dashboard_item_container_title_1"></h5>
                        <h6 data-itemContainerSubtitle="vd_dashboard_item_container_subtitle_1">&nbsp;</h6>
                    </div>
                    <div class="panel-body">
                        <div style= "height:400px" data-item="vd_dashboard_item_1"> </div>
                    </div>
                    <div class="panel-footer" data-itemContainerFooter="vd_dashboard_item_container_footer_1">
                        <p><i data-itemContainerFooterContent="vd_dashboard_item_container_footerContent_1"></i></p>
                    </div>
                </div>
            </div>
       </div>
       <br>
       <div class="row">
           <div class='col-xs-12'>
               <div data-itemContainer="vd_dashboard_item_container_2">
                   <div class="panel-heading" data-itemExport="vd_dashboard_itemExport_2">
                           <div class="pull-right flip">
                               <a class="btn-floating waves-effect waves-light btn-default" data-role="export" data-button="vd_dashboard_button_export_2"><i class="material-icons">file_download</i> </a>
                           </div>
                       <h5 class="truncate" data-itemContainerTitle="vd_dashboard_item_container_title_2"></h5>
                       <h6 data-itemContainerSubtitle="vd_dashboard_item_container_subtitle_2">&nbsp;</h6>
                   </div>
                   <div class="panel-body">
                       <div style= "height:400px" data-item="vd_dashboard_item_2"> </div>
                   </div>
                   <div class="panel-footer" data-itemContainerFooter="vd_dashboard_item_container_footer_2">
                       <p><i data-itemContainerFooterContent="vd_dashboard_item_container_footerContent_2"></i></p>
                   </div>
               </div>
           </div>
       </div>
       <br>
      <div class="row">
            <div class='col-xs-6'>
                <div data-itemContainer="vd_dashboard_item_container_3">
                   <div class="panel-heading" data-itemExport="vd_dashboard_itemExport_3">
                           <div class="pull-right flip">
                               <a class="btn-floating waves-effect waves-light btn-default" data-role="export" data-button="vd_dashboard_button_export_3"><i class="material-icons">file_download</i> </a>
                           </div>
                       <h5 class="truncate" data-itemContainerTitle="vd_dashboard_item_container_title_3"></h5>
                       <h6 data-itemContainerSubtitle="vd_dashboard_item_container_subtitle_3">&nbsp;</h6>
                   </div>
                   <div class="panel-body">
                       <div style= "height:400px" data-item="vd_dashboard_item_3"> </div>
                   </div>
                   <div class="panel-footer" data-itemContainerFooter="vd_dashboard_item_container_footer_3">
                       <p><i data-itemContainerFooterContent="vd_dashboard_item_container_footerContent_3"></i></p>
                   </div>
               </div>
            </div>
            <div class='col-xs-6'>
                <div data-itemContainer="vd_dashboard_item_container_4">
                   <div class="panel-heading" data-itemExport="vd_dashboard_itemExport_4">
                           <div class="pull-right flip">
                               <a class="btn-floating waves-effect waves-light btn-default" data-role="export" data-button="vd_dashboard_button_export_4"><i class="material-icons">file_download</i> </a>
                           </div>
                       <h5 class="truncate" data-itemContainerTitle="vd_dashboard_item_container_title_4"></h5>
                       <h6 data-itemContainerSubtitle="vd_dashboard_item_container_subtitle_4">&nbsp;</h6>
                   </div>
                   <div class="panel-body">
                       <div style= "height:400px" data-item="vd_dashboard_item_4"> </div>
                   </div>
                   <div class="panel-footer" data-itemContainerFooter="vd_dashboard_item_container_footer_4">
                       <p><i data-itemContainerFooterContent="vd_dashboard_item_container_footerContent_4"></i></p>
                   </div>
               </div>
            </div>
      </div>
    </div>