<div class="row">
    <div class="col-xs-12" id="vd-progress-bar-holder"></div>
</div>

<div id = "vd-filter-container">
<div class="row">
    <div class='col-xs-4'>
        <div data-selector="vd_filter_item_1"> </div>
    </div>
    <div class='col-xs-4'>
        <div data-selector="vd_filter_item_2"> </div>
    </div>
    <div class='col-xs-4'>
        <div data-selector="vd_filter_item_3"> </div>
    </div>
</div>

<div class='col-xs-12' id = "vd-dashboard-container">
    <div class="row">
        <div data-item="vd_dashboard_item_1"> </div>
    </div>
</div>