<div class="row">
        <div class="col-xs-12" id="vd-progress-bar-holder" data-bar="progress-bar"></div>
</div>

<div data-section = "1">
    <div id = "vd-filter-container">
        <div class="row">
            <div class='col-xs-4'>
                <div class="panel-border">
                    <div class="panel-heading long-header">
                        <ul id="mainTabs" class="nav nav-tabs">
                            <li role="presentation" ><a href="#vd_filter_item_tab_1" data-toggle="tab" data-tabLabel = "vd_filter_item_1_tab"></a></li>
                            <li role="presentation" class="active"><a href="#vd_filter_item_tab_4_1" data-toggle="tab" data-tabLabel = "vd_filter_item_4_1_tab"></a></li>
                            <li role="presentation"><a href="#vd_filter_item_tab_7_1" data-toggle="tab" data-tabLabel = "vd_filter_item_7_1_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="vd_filter_item_tab_1">
                                <div data-selector="vd_filter_item_1"></div>
                            </div>
                            <div class="tab-pane active" id="vd_filter_item_tab_4_1">
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-10 col-xs-offset-2'>
                                        <div data-selector="vd_filter_item_3" style="display: none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_4_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_4_2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_4_3"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_4_4"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="vd_filter_item_tab_7_1">
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_5"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-10 col-xs-offset-2'>
                                        <div data-selector="vd_filter_item_6" style="display: none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_7_1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-xs-12'>
                                        <div data-selector="vd_filter_item_7_2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-4'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs" id="second_tab">
                            <li role="presentation" class="active"><a href="#vd_filter_item_tab_8" data-toggle="tab" data-tabLabel = "vd_filter_item_8_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="vd_filter_item_tab_8" class="tab-pane active">
                                <div data-selector="vd_filter_item_8"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-4'>
                <div class="panel-border">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs" id="second_tab">
                            <li role="presentation" class="active"><a href="#vd_filter_item_tab_9" data-toggle="tab" data-tabLabel = "vd_filter_item_9_tab"></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="vd_filter_item_tab_9" class="tab-pane active">
                                <div data-selector="vd_filter_item_9"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<div data-section = "showDashboard">
    <div class="row">
        <div class='col-xs-4 col-xs-offset-5'>
            <button type="button" class="btn btn-primary" data-button="vd_filter_button_1">{{"filter-vd_filter_button_1_title"}}</button>
        </div>
    </div>
    <div class="row">
        <div class='col-xs-6 col-xs-offset-4'>
            <div style ="display: none;" data-buttonMsg = "vd_filter_button_1_msg"></div>
        </div>
    </div>
</div>
<br>