<div class="row">
    <div class='col-lg-12'>
        <div class='tableauPlaceholder' id='WIEWSDashboardTableau' style='position: relative'>
            <noscript><a href='#'><img alt='WIEWS Dashboard'
                                       src='https://public.tableau.com/static/images/wi/{{vd_code}}/1_rss.png'
                                       style='border: none'/></a></noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https://public.tableau.com/'/>
                <param name='embed_code_version' value='3'/>
                <param name='site_root' value=''/>
                <param name='name' value='{{vd_code}}'/>
                <param name='tabs' value='no'/>
                <param name='toolbar' value='yes'/>
                <param name='static_image'
                       value='https://public.tableau.com/static/images/wi/{{vd_code}}/1.png'/>
                <param name='animate_transition' value='yes'/>
                <param name='display_static_image' value='yes'/>
                <param name='display_spinner' value='yes'/>
                <param name='display_overlay' value='yes'/>
                <param name='display_count' value='yes'/>
                {{#if filterparams}}
                    <param name='filter' value='{{filterparams}}'/>
                {{/if}}
            </object>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('WIEWSDashboardTableau');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width = '890px';
            vizElement.style.minHeight = '800px';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
    </div>
</div>