<div data-page='exsitu'>
    <h1><i>Ex Situ</i> holdings</h1>
    <hr>
    <div data-role
    <div data-role='results'>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="showasmap" type="button" class="btn btn-default">Show as <span id="btn_text">Table</span></button>
                </div>
            </div>
        </div>
        <div id="tabled" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Result -->
                <table id="table">
                    <thead>
                    <tr>
                        <th data-sortable="true" data-width="20%" data-field="country">Country</th>
                        <th data-sortable="true" data-width="20%" data-field="name">Name of organization</th>
                        <th data-sortable="true" data-width="20%" data-field="address">Address</th>
                        <th data-sortable="true" data-width="20%" data-field="taxon">Taxon</th>
                        <th data-sortable="true" data-width="7%" data-field="accessions">Accessions</th>
                        <th data-sortable="true" data-width="7%" data-field="genera">Genera</th>
                        <th data-sortable="true" data-width="7%" data-field="taxa">Taxa</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="maped" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <div id="map" style="height: 500px; margin-top: 15px"></div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
</div>