<br>
<div data-dashboardSection="1" data-dashboardContainer="dd-dashboard-container" id="dd-dashboard-container">
    <div class="row">
        <div class='col-xs-12'>
            <div id="toolbar" class="bootstrapTableExport">
                <button data-role="organizations_exportbutton" alt="{{organizations_export_button_alt}}" class="btn btn-success">
                    <span alt="{{organizations_export_button_alt}}" class="icojam icojam_download_1" style="top:8px; left: 1px;"></span>
                    <span style="position: relative; top: -3px;">{{download_results}}</span>
                </button>
                <!--
                <button data-role="table-thousand-separator" type="button" aria-label="columns" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span>Thousand Separator</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="menuitem"><label><input type="radio" name="thousandsep" value="" checked="checked"> None </label></li>
                    <li role="menuitem"><label><input type="radio" name="thousandsep" value="," > Comma </label></li>
                    <li role="menuitem"><label><input type="radio" name="thousandsep" value="."> Period </label></li>
                </ul>
                -->
            </div>
            <table data-table="dd-dashboard-table"
                   data-toolbar="#toolbar"
                   data-toolbar-align="right">
                <thead>
                <tr>
                    <th data-field="5" data-sortable="true"></th>
                    <th data-field="1" data-sortable="true"></th>
                    <th data-field="2" data-sortable="true"></th>
                    <th data-field="3" data-sortable="true"></th>
                    <th data-field="4" data-sortable="true"></th>
                    <th data-field="6" data-sortable="true" data-align="right"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

