<div data-GPAStatus="binomial_name" class="GPA-row">
    <div class="GPA-cell lbl">Binomial name</div>
    <div class="GPA-cell txt">
        <span data-GPAIndex="genus"></span> <span data-GPAIndex="species"></span>
    </div>
</div>